body{
 background-size: cover;   
 background-position: center;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.sub{
    background-color: white;
    border-radius: 75px;
    width: 30%;
    margin:50px;
    font-size: 20px;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}